target/
epay/
docs/
epay1/
对话内容记录.md
C:\Users\Administrator\Documents\memopark\memopark-dapp\.gitignore
memopark-dapp/node_modules
memopark-dapp/dist
memopark-dapp/dist-ssr
memopark-dapp/*.local
memopark-dapp/.vscode
memopark-dapp/.idea
memopark-dapp/.DS_Store
memopark-dapp/*.suo
memopark-dapp/*.ntvs*
my-chain-state/
key.md
epay.zip


memopark-governance/node_modules
memopark-governance/dist
memopark-governance/dist-ssr
memopark-governance/*.local
memopark-governance/.vscode
memopark-governance/.idea
memopark-governance/.DS_Store
memopark-governance/*.suo
memopark-governance/*.ntvs*

# ignore frontend legacy workspace dependencies
memopark-front-end/

# logs & dumps
*.log
*.log.*
*.pid
*.seed
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# build artifacts
**/dist/
**/build/
**/.cache/
**/node_modules/

memopark-gov/node_modules

memopark-gov/dist

memopark-gov/dist-ssr
memopark-gov/*.local
memopark-gov/.vscode
memopark-gov/.idea
memopark-gov/.DS_Store
memopark-gov/*.suo
memopark-gov/*.ntvs*

memopark-gov/package-lock.json

memopark-gov-scripts/
first-purchase-scripts/
first-purchase-scripts/node_modules
first-purchase-scripts/dist
first-purchase-scripts/dist-ssr
first-purchase-scripts/*.local
first-purchase-scripts/.vscode
first-purchase-scripts/.idea
first-purchase-scripts/.DS_Store
first-purchase-scripts/*.suo
first-purchase-scripts/*.ntvs*

maker-relay-service/node_modules
maker-relay-service/dist
maker-relay-service/dist-ssr
maker-relay-service/*.local
maker-relay-service/.vscode
maker-relay-service/.idea
maker-relay-service/.DS_Store
maker-relay-service/*.suo
maker-relay-service/*.ntvs*
