target/
epay/
docs/
epay1/
对话内容记录.md
C:\Users\Administrator\Documents\stardust\stardust-dapp\.gitignore
stardust-dapp/node_modules
stardust-dapp/dist
stardust-dapp/dist-ssr
stardust-dapp/*.local
stardust-dapp/.vscode
stardust-dapp/.idea
stardust-dapp/.DS_Store
stardust-dapp/*.suo
stardust-dapp/*.ntvs*
my-chain-state/
key.md
epay.zip


stardust-governance/node_modules
stardust-governance/dist
stardust-governance/dist-ssr
stardust-governance/*.local
stardust-governance/.vscode
stardust-governance/.idea
stardust-governance/.DS_Store
stardust-governance/*.suo
stardust-governance/*.ntvs*

# ignore frontend legacy workspace dependencies
stardust-front-end/

# logs & dumps
*.log
*.log.*
*.pid
*.seed
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# build artifacts
**/dist/
**/build/
**/.cache/
**/node_modules/

stardust-gov/node_modules

stardust-gov/dist

stardust-gov/dist-ssr
stardust-gov/*.local
stardust-gov/.vscode
stardust-gov/.idea
stardust-gov/.DS_Store
stardust-gov/*.suo
stardust-gov/*.ntvs*

stardust-gov/package-lock.json

stardust-gov-scripts/
first-purchase-scripts/
first-purchase-scripts/node_modules
first-purchase-scripts/dist
first-purchase-scripts/dist-ssr
first-purchase-scripts/*.local
first-purchase-scripts/.vscode
first-purchase-scripts/.idea
first-purchase-scripts/.DS_Store
first-purchase-scripts/*.suo
first-purchase-scripts/*.ntvs*

maker-relay-service/node_modules
maker-relay-service/dist
maker-relay-service/dist-ssr
maker-relay-service/*.local
maker-relay-service/.vscode
maker-relay-service/.idea
maker-relay-service/.DS_Store
maker-relay-service/*.suo
maker-relay-service/*.ntvs*
